.element__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
  /*background-image: url(../../../images/element-the_rule.jpg);*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
}
