.footer_margin  {
  margin-bottom: 0;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (max-width: 882px){
  .footer_margin  {
    margin-top: 48px;

  }
}

@media screen and (min-width: 882px) {
  .footer_margin  {
    margin-top: 66px;
  } 
}