/*@keyframes popap-open {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}*/

.popap-open {
  /*animation: popap-open 1s linear forwards;*/
  display: block;
  /*opacity: 1;*/
  /*transform: opacity: 1;*/
}