@import url(./__btn-like/element__btn-like.css);
@import url(./__column/element__column.css);
@import url(./__image/element__image.css);
@import url(./__title/element__title.css);

.element {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}